/* Project Section */
.projects {
  padding: 2rem 1rem;
  background-color: var(--bg-color);
  text-align: center;
}

/* Title */
.projectTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  position: relative;
  animation: fadeInDown 1s ease-in-out;
}

.projectTitle::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #007bff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: slideIn 1.5s ease-in-out;
}

/* Search Box */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.search-box {
  width: 80%;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 16px;
  color: var(--text-color);
  background-color:  var(--input-box-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
}

.search-box:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.no-results {
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 20px;
  font-style: italic;
}

/* Project Cards */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.project-card {
  background: var(--project-card-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 auto;
}

.project-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-card:hover .project-title {
  color: #7c3aed;
}

.project-card:hover .project-tools {
  background: var(--project-card-tools-hover);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  transition: transform 0.3s;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}

.project-title {
  font-size: 1.4rem;
  margin: 1rem 0 0.5rem;
  color: var(--text-color);
  transition: color 0.3s;
}

.project-description {
  font-size: 0.95rem;
  margin: 0 1rem 1rem;
  color: var(--text-color);
  text-align: justify;
}

.project-tools {
  font-size: 0.85rem;
  margin: 0 1rem 1rem;
  color: var(--text-color);
  padding: 0.5rem;
  background: var(--project-tool-bg);
  border-radius: 4px;
  transition: background 0.3s;
}

.project-tools strong {
  color: var(--text-color);;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

/* Responsive Design */
@media (max-width: 400px) {
  .projects h2 {
    font-size: 1.5rem;
  }

  .projects-container {
    gap: 1.5rem;
  }

  .project-card {
    padding: 0.5rem;
  }

  .project-title {
    font-size: 1.2rem;
  }

  .project-description {
    font-size: 0.85rem;
  }

  .project-tools {
    font-size: 0.8rem;
  }
}
