/* Footer Styling */
.footer {
    background-color: rgba(241, 130, 241, 0.21); /* Purple background with opacity */
    color: var(--text-color);; /* White text */
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-text strong {
    color:rgb(162, 0, 255); /* Gold color for developer name */
    font-weight: bold;
  }
  