/* Theme Toggle Button */
.theme-toggle {
  position: fixed;
  top: 70px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  color: var(--text-color);
  background-image: var(--button-bg-image);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  font-size: 20px;
  transition: opacity 0.3s;
  height: 10px;
  width: 40px;
  z-index: 1000;
}

.theme-toggle:hover {
  opacity: 0.9;
}

@media (max-width: 500px) {
  .theme-toggle{
    height: 5px;
    width: 20px;
  }
}