:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);

 
  --bg-color: white;
  --text-color: black;
  --button-bg-color:rgb(229, 200, 255);
  --background-shadow:  rgba(0, 0, 0, 0.36);
  --button-bg-image: url('day.png');

  --navbar-color: rgba(157, 232, 245, 0.71);
  --navbar-text-hover: rgb(242, 234, 83);
  --navbar-background-color: rgba(168, 215, 211, 0.7);

  --sidebar-background: rgba(58, 58, 58, 0.32);  
  --sidebar-background-open: rgba(47, 46, 46, 0.63);

  --about-bg-c1: rgba(109, 170, 235, 0.66);
  --about-bg-c2: rgba(227, 143, 244, 0.65);
  --about-bg-c3: rgba(132, 248, 188, 0.65);

  --input-box-color: rgba(237, 237, 237, 0.5);
  --project-card-color: white;
  --project-card-tools-hover:  #f0e5ff;
  --project-tool-bg: rgba(246, 246, 246, 0.5);
}

a {
  font-weight: 500;
  color: #F0D8EB;
  text-decoration: inherit;
}
a:hover {
  color: rgb(242, 234, 83);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block; /* Ensures no unwanted flex behavior */
  background-color: var(--bg-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

* {
  box-sizing: inherit;
}

body, html {
  overflow-x: hidden;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ffffff, #8e44ad);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ffffff, #6a11cb);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
* {
  scrollbar-width: thin;
  scrollbar-color: #8e44ad #f1f1f1;
}
